# ignore all .htaccess
.htaccess

# ignore all config.core.php
config.core.php

# ignore all compressed js and css
*-min.css
*-min.js

# ignore concatenated js
modext.js

# ignore common root paths for docs and assets
/docs/
# /assets/

.tmp_*
.project
.buildpath
.settings/.jsdtscope
.settings/com.aptana.editor.php.prefs
.settings/org.eclipse.wst.jsdt.ui.superType.container
.settings/org.eclipse.wst.jsdt.ui.superType.name
